.video-player__button svg, .theme, .navigation__item_link, .navigation__item, .logo__image {
  transition: all 0.3s;
}

.price-description__text, .skill__text, .hero__text, .navigation, .body {
  font-family: "Inter", sans-serif;
}

.section__title-contacts, .price-description__cost, .price-description__title, .section__title, h1 {
  font-family: "Merriweather", serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 12rem;
  color: #ffffff;
}
@media (max-width: 768px) {
  h1 {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 6.4rem;
    color: #ffffff;
  }
}

.body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: #ffffff;
  background-color: #000000;
}

.body.light {
  background-color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: #000000;
}

.section__title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 8rem;
  color: #bdae82;
  padding: 0 20px 0 20px;
  background: #000000;
}
@media (max-width: 768px) {
  .section__title {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 8rem;
    color: #bdae82;
  }
}

.section__title.light {
  font-size: 4rem;
  font-weight: 700;
  line-height: 8rem;
  color: #000000;
  background: #ffffff;
}
@media (max-width: 768px) {
  .section__title.light {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 8rem;
    color: #000000;
  }
}

.section-title__wrapper {
  width: 50%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
  overflow: hidden;
}

.section-title__wrapper.light {
  background-image: linear-gradient(to top, #fff 39px, #000 39px, #000 41px, #fff 41px);
}

.wrapper {
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 60px;
  }
}
@media (max-width: 414px) {
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 320px) {
  .wrapper {
    padding: 0 20px;
  }
}

.button {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  line-height: 4rem;
  cursor: pointer;
  transition: all 0.3s;
  width: 220px;
  height: 55px;
  overflow: hidden;
}
.button_colored {
  background: #bdae82;
  border: 2px solid #bdae82;
}
.button_colored:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  transform: translatey(-0.65em);
  color: #ffffff;
}
.button_colored:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  transform: translatey(-0.65em);
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-column > * {
  flex-basis: 25%;
}
@media (max-width: 768px) {
  .layout-4-column {
    justify-content: space-evenly;
  }
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: 30%;
}

.header {
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url("../assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}
@media (max-width: 768px) {
  .header {
    background-image: url("../assets/img/bg-tablet.jpg");
  }
}
@media (max-width: 414px) {
  .header {
    background-image: url("../assets/img/bg-tablet.jpg");
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  padding-left: 20px;
}

.logo__image {
  width: 50px;
  height: 50px;
  background-image: url("../assets/svg/logo.svg");
  background-repeat: no-repeat;
}
.logo__image:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.header__navigation {
  height: 90px;
  display: flex;
  margin-left: auto;
  margin-right: 15px;
  align-items: center;
  padding-right: 10px;
}

.navigation {
  overflow-x: hidden;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 5rem;
  color: #ffffff;
}
@media (max-width: 768px) {
  .navigation {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 0;
    right: -620%;
    width: 80%;
    height: 100vh;
    background-color: #000000;
    text-align: center;
    transition: 0.5s;
  }
}

.navigation.open {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;
  z-index: 2;
  transition: 0.5s;
  font-family: Inter;
  font-size: 3.5rem;
  line-height: 7.3rem;
  background-color: #000000;
}
@media (max-width: 414px) {
  .navigation.open {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    transition: 0.5s;
    font-family: Inter;
    font-size: 3.5rem;
    line-height: 7.3rem;
    background-color: #000000;
  }
}

.open.light {
  background-color: #ffffff;
}

.navigation__item {
  list-style: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .navigation__item {
    margin: 25px 0;
  }
}

.navigation__item_link {
  color: #ffffff;
  text-decoration: none;
  padding-right: 30px;
}
.navigation__item_link:hover {
  color: #bdae82;
}

@media (max-width: 768px) {
  .navigation__item_link.light {
    color: #000000;
  }
}

.lang__item {
  background: transparent;
  color: #ffffff;
  border: none;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}
.lang__item:hover {
  color: #bdae82;
}

.lang__item_active {
  background: transparent;
  color: #bdae82;
  border: none;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
}

.lang__slash {
  color: #ffffff;
}

.theme {
  cursor: pointer;
  background-image: url("../assets/svg/sun.svg");
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  margin-left: 20px;
}
.theme:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.theme.light {
  background-image: url("../assets/svg/moon.svg");
  width: 41px;
  height: 40px;
  background-repeat: no-repeat;
  margin-left: 24px;
}

.hamburger {
  display: none;
}
.hamburger:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 28px;
    cursor: pointer;
    z-index: 2;
  }
}

.line {
  width: 80%;
  height: 3px;
  background: #ffffff;
  margin: 3px 0;
  z-index: 15;
  transition: all 0.5s ease-in-out;
}

.hamburger.open .line1 {
  transform: rotate(-45deg) translate(-5px, 7px);
}

.hamburger.open .line2 {
  opacity: 0;
}

.hamburger.open .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.hero {
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url("../assets/img/bg.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .hero {
    background-image: url("../assets/img/bg-tablet.jpg");
    height: 500px;
  }
}

.hero__content {
  width: 500px;
  height: 330px;
  padding: 160px 0 360px 80px;
}
@media (max-width: 768px) {
  .hero__content {
    padding: 78px 0 0 20px;
  }
}

.hero__text {
  padding-top: 10px;
  width: 470px;
  font-size: 2rem;
  font-weight: 400;
  line-height: 4rem;
  color: #ffffff;
}
@media (max-width: 768px) {
  .hero__text {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #ffffff;
    padding-top: 20px;
    width: 390px;
  }
}
@media (max-width: 414px) {
  .hero__text {
    width: 250px;
  }
}

.hero__button {
  padding-top: 25px;
}
@media (max-width: 768px) {
  .hero__button {
    padding-top: 60px;
  }
}
@media (max-width: 414px) {
  .hero__button {
    padding-top: 40px;
  }
}

.skills {
  overflow: hidden;
  padding-top: 70px;
}
@media (max-width: 414px) {
  .skills {
    padding-top: 60px;
  }
}
@media (max-width: 320px) {
  .skills {
    padding-top: 40px;
  }
}

.skill {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill__icon {
  margin-bottom: 40px;
}

.skill__title {
  margin: 0 0 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 4rem;
  color: #ffffff;
}

.skill__title.light {
  color: #000000;
}

.skill__text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.6rem;
  color: #ffffff;
  text-align: center;
  width: 280px;
}

.skill__text.light {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.6rem;
  color: #000000;
}

.ico {
  cursor: pointer;
  display: inline-block;
}

.icon-square {
  width: 66px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ico_camera {
  background-image: url("../assets/svg/camera.svg");
  width: 62px;
  height: 50px;
}

.ico_video {
  background-image: url("../assets/svg/video.svg");
  width: 60px;
  height: 50px;
}

.ico_picture {
  background-image: url("../assets/svg/image.svg");
  width: 66px;
  height: 50px;
}

.ico_microphone {
  background-image: url("../assets/svg/mic.svg");
  width: 32px;
  height: 50px;
}

.portfolio {
  overflow: hidden;
  padding-top: 110px;
}
@media (max-width: 768px) {
  .portfolio {
    padding-top: 80px;
  }
}
@media (max-width: 414px) {
  .portfolio {
    padding-top: 60px;
  }
}
@media (max-width: 320px) {
  .portfolio {
    padding-top: 40px;
  }
}

.portfolio__buttons {
  padding: 60px 0 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .portfolio__buttons {
    flex-wrap: wrap;
    gap: 5px;
  }
}

.buttons {
  display: flex;
}
.buttons > * {
  margin-right: 5px;
}

.portfolio__button {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  line-height: 4rem;
  cursor: pointer;
  transition: all 0.3s;
  width: 220px;
  height: 55px;
  overflow: hidden;
  background: #000000;
  border: 2px solid #bdae82;
  color: #bdae82;
}
.portfolio__button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  transform: translatey(-0.65em);
  color: #ffffff;
}
.portfolio__button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  transform: translatey(-0.65em);
}

.portfolio__button.light {
  background: #ffffff;
  color: #000000;
}

.active-btn {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  line-height: 4rem;
  cursor: pointer;
  transition: all 0.3s;
  width: 220px;
  height: 55px;
  overflow: hidden;
  background: #bdae82;
  border: 2px solid #bdae82;
  color: #000000;
}
.active-btn:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  transform: translatey(-0.65em);
}
.active-btn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  transform: translatey(-0.65em);
}

.active-btn.light {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  line-height: 4rem;
  cursor: pointer;
  transition: all 0.3s;
  width: 220px;
  height: 55px;
  overflow: hidden;
  background: #bdae82;
  border: 2px solid #bdae82;
  color: #ffffff;
}
.active-btn.light:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  transform: translatey(-0.65em);
}
.active-btn.light:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  transform: translatey(-0.65em);
}

.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
@media (max-width: 414px) {
  .portfolio-images img {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .portfolio-images img {
    width: 100%;
  }
}

.video {
  overflow: hidden;
  padding-top: 100px;
}
@media (max-width: 768px) {
  .video {
    padding-top: 80px;
  }
}
@media (max-width: 414px) {
  .video {
    padding-top: 60px;
  }
}
@media (max-width: 320px) {
  .video {
    padding-top: 40px;
  }
}

.video-player__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 705px;
  background-image: url("../assets/img/video-img/video-player.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  margin-top: 60px;
}
@media (max-width: 768px) {
  .video-player__wrapper {
    background-image: url("../assets/img/video-img/video-player-tablet.jpg");
    background-position: center 0;
    width: 100%;
    height: 418px;
  }
}
@media (max-width: 414px) {
  .video-player__wrapper {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .video-player__wrapper {
    width: 100%;
    background-position: center 0;
  }
}

.video-player__button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
.video-player__button svg:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
@media (max-width: 768px) {
  .video-player__button svg {
    width: 75px;
    height: 75px;
  }
}

.price {
  overflow: hidden;
  padding-top: 100px;
  max-width: 1400px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .price {
    padding-top: 80px;
  }
}
@media (max-width: 414px) {
  .price {
    padding-top: 60px;
  }
}
@media (max-width: 320px) {
  .price {
    padding-top: 40px;
  }
}

.price-description {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
  padding-top: 60px;
}
@media (max-width: 414px) {
  .price-description {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .price-description {
    width: 100%;
  }
}
.price-description .button {
  margin-top: 40px;
  margin-bottom: 43px;
}

.price-description__content {
  box-sizing: border-box;
  width: 450px;
  height: 505px;
  border: 3px solid #bdae82;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .price-description__content {
    width: 420px;
    height: 505px;
  }
}

.price-description__title {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 5.6rem;
  color: #ffffff;
  padding-top: 43px;
}

.price-description__title.light {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 5.6rem;
  color: #000000;
}

.price-description__cost {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 4.8rem;
  color: #bdae82;
  padding-top: 20px;
  padding-bottom: 20px;
}

.price-description__text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.6rem;
  color: #ffffff;
}

.price-description__text.light {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.6rem;
  color: #000000;
}

.contacts {
  overflow: hidden;
  padding-top: 100px;
}

.contacts__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url("../assets/img/contacts.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}
@media (max-width: 768px) {
  .contacts__wrapper {
    background-image: url("../assets/img/contacts-tablet.jpg");
    height: 600px;
    width: 100%;
  }
}
@media (max-width: 414px) {
  .contacts__wrapper {
    background-image: url("../assets/img/contacts-tablet.jpg");
    width: 100%;
  }
}
@media (max-width: 414px) {
  .contacts__wrapper {
    width: 100%;
  }
}

.section__title-contacts {
  font-size: 4rem;
  font-weight: 700;
  line-height: 8rem;
  color: #bdae82;
  padding: 0 20px 0 20px;
  background: #000000;
}
@media (max-width: 768px) {
  .section__title-contacts {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 8rem;
    color: #bdae82;
  }
}

.contacts-content {
  width: 450px;
  height: 445px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 20px;
}
.contacts-content .section__title-contacts {
  background: transparent;
  padding-top: 30px;
  padding-bottom: 5px;
}
@media (max-width: 768px) {
  .contacts-content .button {
    margin-left: 120px;
  }
}
@media (max-width: 414px) {
  .contacts-content .button {
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  .contacts-content {
    margin: 0 auto;
    align-items: center;
  }
}
@media (max-width: 414px) {
  .contacts-content {
    width: 280px;
  }
}

.contacts-form input, .contacts-form textarea {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 4rem;
  color: #bdae82;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px 0px 5px 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  transition: all 0.3s;
}
.contacts-form input:focus, .contacts-form textarea:focus {
  border: 1px solid #bdae82;
  color: #bdae82;
  outline: none;
}
.contacts-form input {
  height: 50px;
}
.contacts-form textarea {
  height: 100px;
}
.footer {
  overflow: hidden;
  padding: 50px 0 50px;
  margin: 0 auto;
  max-width: 1440px;
}

.footer.light {
  background-color: #000000;
}

.footer__wrapper {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__wrapper {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.footer__wrapper a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s;
}
.footer__wrapper a:hover {
  color: #bdae82;
}

.footer-data ul {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.footer-data li {
  list-style: none;
}
.footer-data li:not(:last-child) {
  padding-right: 20px;
}

.footer-social {
  display: flex;
  align-items: center;
}
.footer-social li:nth-child(1) {
  padding-right: 15px;
}
.footer-social li:nth-child(2) {
  padding-right: 15px;
}
.footer-social li:nth-child(3) {
  padding-right: 15px;
}
.footer-social li:last-child {
  padding-right: 20px;
}

.footer-icon-square {
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.footer-icon-square:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.ico_instagram {
  background-image: url("../assets/svg/social/inst.svg");
  width: 32px;
  height: 32px;
}

.ico_facebook {
  background-image: url("../assets/svg/social/fb.svg");
  width: 32px;
  height: 32px;
}

.ico_twitter {
  background-image: url("../assets/svg/social/tw.svg");
  width: 32px;
  height: 32px;
}

.ico_pinterest {
  background-image: url("../assets/svg/social/pinterest.svg");
  width: 32px;
  height: 32px;
}/*# sourceMappingURL=style.css.map */
